<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='/stylesheets/style.css' rel='stylesheet' >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <!-- <div class='message-container'> -->
        <span><a href='/'>Back to Feed</a></span>
            <div class="newTask-container">
                <form method="POST" action="/new">
                    <div class="newTask-field" id="task-title">Author:<input class="newTask-input" type="text" name='author'></div>
                    <div class="newTask-field" id="task-extraDetails">Message Body: <textarea class="newTask-input" id="extra-details" type="text" name='text'></textarea></div>
                    <div class="button-container"><button class="confirm sub-button" type='submit'>Confirm</button></div>
                </form>
            </div>




            <!-- <div class='author-container'>
                <label class='form-label' for='author'>Author</label>
                <input class='input-form' type='text' name='author'>
            </div>
            <div class='body-container'>
                <label class='form-label' for='text'>message body</label>
                <textarea class='textarea' name='text' placeholder='type your text here'></textarea>
            </div>
            <button type="submit">click me to submit</button> -->
        
    <!-- </div> -->
    
</body>
</html>